.background-color, .header-background-color .tab-header-background {
    -fx-background-color: skyblue;
}

.padding {
    -fx-padding: 8px;
}

.big-padding {
    -fx-padding: 24px;
}

.border {
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-border-color: skyblue;
}

.stack-pane-opaque-items > * {
    /* standard jfx background */
    -fx-background-color: #F4F4F4;
}

.no-header .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.loginForm{
    -fx-padding: 10 0 0 0;
}
